.title_text {
  // display: block;
  background: rgba(255,255,255,0.1);
  border-radius: 8px;
  border: none;
  font-size: 16px;
  height: 10px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
  resize: none;
  overflow: hidden;
}

.title_text::placeholder{
  color: darkgray;
}

.content_text {
 // display: block;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  border: none;
  font-size: 16px;
  height: 300px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
  resize: none;
}

.content_text::placeholder{
  color: darkgray;
}

.thumb-item {
  position: relative;
  margin-right: 10px;
  float: left;
  overflow: hidden;
}

.thumb-img{
  border: 1px dashed rgba(77, 88, 99, 0.33);
  border-radius: 10px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
a.remImage img {

  box-shadow: none;
  position: absolute;
  right: 7px;
  top: -5px;
  margin-top: 4px;
  opacity: 0;
  display: block;
  //transition: all .5s ease-in-out;
}
.thumb-item:hover a.remImage img {
  width: 20px;
  height: 20px;
  opacity: 1;
  z-index: 99;
  position: absolute;
  top: 5px;
}
.thumb-item:after {
  content: '';
  width: 80px;
  height: 80px;
  position: absolute;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  top: 0px;
  z-index: 0;
  opacity: 0;
}
.thumb-item:hover:after{
  opacity: 1;
}

.delete-icon{
  width:15px;
  height:15px;
}


.img-delete-btn{
  position: absolute;
  top: 5px;
  z-index: 99;
  width: 20px;
  height: 20px;
}

.file_input_hidden{
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.add-btn{
  width: 80px;
  height: 80px;
  background: dodgerblue;
  border: 0px;
  border-radius: 10px;
}

.add-btn > span {
  display: block;
  font-size: 12px;
  color: white;
  margin-top: -10px;
}

